
<div class='container'>
  <hr/>
  <div class="small-text">
    <span class="first-part">  
      ЗАО «ЭРКАФАРМ» аптечная сеть «Доктор Столетов»,<br>
      г. Москва, ул. Бакунинская, д .14br <br>
      Номер лицензии ЗАО «ЭРКАФАРМ» ЛО-77-02-007560 от 07.04.2016 <br>
    </span>
    <br>
    <span class="second-part">
      Цены в аптеках могут отличаться от цен, указанных на сайте <br>
      Внешний вид товара может отличаться от изображенного на фотографии <br>
    </span>
  </div>
  <div class="static-pages">
    <%= link_to("Помощь", "/" ,) %>
    <%= link_to("Пользовательское соглашение", "/") %> 
    <%= link_to("Карьера", "/") %>
    <%= link_to("Контакты", "/") %>
  </div>
  <div class="copyright">
    2016 ©, «Drug Store»
  </div>
</div>