html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 800px;
  height: 100%;
}

div#footer {
  //height: 100px;
  background-color: white;
  position: relative;
  hr {
    border-top: 1px solid #9d9d9d;
  }
}

div.first-part {
  width: 300px;
}

.copyright {
  text-align: center;
  color: black;
}

.small-text {
  font-size: 9px;
  margin-top: -9px;
  padding-left: 35px;
}

.static-pages {
  float: right;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 55px;
  a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left: 10px;
  }
  a:hover {
    text-decoration: none;
    color: #219f9b;
  }
}